# Assignment-1 solution(all in one):

# Task1

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
%%html
<img src="Jupyter_Screenshot.png", width=500, height=200>
# Jupyter screenshot shown

In [35]:
%%html
<img src="https://github.com/tanumalay/Assignment1_ML22ndFebBatch/blob/master/Jupyter_Screenshot.png", width=500, height=200>

In [9]:
print("*"*100)

****************************************************************************************************


2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [19]:
print("Numbers between 2000-3200 which are divisible by 7 but are not a multiple of 5: \n ")
i = 2000
while i <= 3200:
    if i%7==0 and i%5 !=0:
        print(i, end=",")
    i+=1

Numbers between 2000-3200 which are divisible by 7 but are not a multiple of 5:

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [10]:
print("*"*100)

****************************************************************************************************

3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
print("Program to accept the user's first and last name and then getting them printed in the the reverse order. \n")
First_name = input("Please enter the First Name: ")
Last_name = input("Please enter the Last Name: ")
print("The name in reverse order is: ", Last_name +" "+First_name)

Program to accept the user's first and last name and then getting them printed in the the reverse order.

Please enter the First Name: Michael
Please enter the Last Name: Jackson
The name in reverse order is:  Jackson Michael

In [1]:
print("*"*100)

****************************************************************************************************

4. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [36]:
import math
print("**Program to find the volume of a sphere with diameter 12 cm. \n")
diameter = int(input("Please enter the diameter of the sphere:"))
radius = diameter/2
print("The *Radius(Diameter/2) of sphere is :", radius)
volume = 4/3*math.pi*math.pow(radius,3)

#can print with multiple ways
#print("The volume of sphere with diameter %d is %d", radius, volume)
#print("Total volume of sphere with diameter {d} cm. is {v} sqcm.".format(d=diameter, v=volume))
print("Total *Volume of sphere with Diameter={:0.2f} CM. is = {:0.4f} CubicCM.".format(diameter, volume))

**Program to find the volume of a sphere with diameter 12 cm.

Please enter the diameter of the sphere:12
The *Radius(Diameter/2) of sphere is : 6.0
Total *Volume of sphere with Diameter=12.00 CM. is = 904.7787 CubicCM.

In [12]:
print("*"*100)

****************************************************************************************************

# Task2

1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [37]:
Number_list = input("Please enter number separated by comma:").split(",")
#print(Number_list)

#store all inputs values into a list as Integer
lst = [int(i) for i in Number_list]

print(lst)

Please enter number separated by comma:34, 6,1000, 9,2,145
[34, 6, 1000, 9, 2, 145]

In [13]:
print("*"*100)

****************************************************************************************************

2. Create the below pattern using nested for loop in Python.

In [2]:
pattern ='''
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
'''

In [30]:
h = int(input("Enter pattern height(e.g. 5): "))
j=0
for i in range(1,h+1):
    for j in range(1,i+1):
        print("*",end='')
    print("\n")
    if(i==h):
        for i in range(h-1,0,-1):
            for j in range(i,0, -1):
                print("*",end='')
            print('\n')

Enter pattern height(e.g. 5): 5
*

**

***

****

*****

****

***

**

*

In [14]:
print("*"*100)

****************************************************************************************************

3. Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [20]:
word= input("Enter the word(AcadGild): \n")
lst=list(word)
print("\nThe word entered is: ",word)
print("\nThe word in reverse order is: ")
for i in lst[::-1]:
    print(i, end='')

Enter the word(AcadGild):
AcadGild

The word entered is:  AcadGild

The word in reverse order is:
dliGdacA

In [15]:
print("*"*100)

****************************************************************************************************

4. Write a Python Program to print the given string in the format specified in the sample output. 

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output: 
WE, THE PEOPLE OF INDIA,
       having solemnly resolved to constitute India into a SOVEREIGN, !
               SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                and to secure to all its citizens

In [33]:
SampleInput="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"

str1 = SampleInput.replace('SOCIALIST,','SOCIALIST, !')
print("Input:\n",SampleInput)
print("\nOutput:\n",str1)

Input:
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

Output:
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, ! SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [16]:
print("*"*100)

****************************************************************************************************

# End of Assignment1